2=primeton/3=项目实施/用友esb/进场/业务/接口转化的两个接口/zhhc_nc/com.primeton.esb.zhhc_nc.nc/src/com/primeton/esb/zhhc_nc/nc/bs/provider/invoice_biz/IQueryInvoiceWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:ns0="http://ws.iv.itf.nc/IQueryInvoiceWS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" jaxb:version="2.0" targetNamespace="http://ws.iv.itf.nc/IQueryInvoiceWS">
  <wsdl:types>
    <xsd:schema xmlns:ns="http://ws.iv.itf.nc/IQueryInvoiceWS" attributeFormDefault="unqualified" elementFormDefault="unqualified" jaxb:version="2.0" targetNamespace="http://ws.iv.itf.nc/IQueryInvoiceWS">
	<xsd:annotation>
    	<xsd:appinfo>
   			<jaxb:schemaBindings>
    			<jaxb:package name="nc.itf.iv.ws"/>
    		</jaxb:schemaBindings>
   		</xsd:appinfo>
   	</xsd:annotation>
	<xsd:element name="queryInvoice">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="clientid" nillable="true" type="xsd:string"/>
				<xsd:element minOccurs="0" name="sign" nillable="true" type="xsd:string"/>
				<xsd:element minOccurs="0" name="timestamp" nillable="true" type="xsd:string"/>
				<xsd:element minOccurs="0" name="content" nillable="true" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
	<xsd:element name="queryInvoiceResponse">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="return" nillable="true" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
   </xsd:schema>
  </wsdl:types>
  <wsdl:message name="queryInvoiceRequest">
    <wsdl:part element="ns0:queryInvoice" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryInvoiceResponse">
    <wsdl:part element="ns0:queryInvoiceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IQueryInvoiceWSPortType">
    <wsdl:operation name="queryInvoice">
      <wsdl:input message="ns0:queryInvoiceRequest" wsaw:Action="urn:queryInvoice">
    </wsdl:input>
      <wsdl:output message="ns0:queryInvoiceResponse" wsaw:Action="urn:queryInvoiceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IQueryInvoiceWSSOAP11Binding" type="ns0:IQueryInvoiceWSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryInvoice">
      <soap:operation soapAction="urn:queryInvoice" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IQueryInvoiceWS">
    <wsdl:port binding="ns0:IQueryInvoiceWSSOAP11Binding" name="IQueryInvoiceWSSOAP11port_http">
      <soap:address location="http://10.0.0.104:9084/uapws/service/QueryInvoiceWS"/>
    </wsdl:port>
  </wsdl:service>
    <jaxws:bindings>
	<jaxws:package name="nc.itf.iv.ws"/>
</jaxws:bindings>
</wsdl:definitions>
