2=primeton/3=项目实施/用友esb/进场/业务/接口转化的两个接口/zhhc_nc/com.primeton.esb.zhhc_nc.nc/src/com/primeton/esb/zhhc_nc/nc/bs/provider/paybill_biz/IQueryPayBillWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:ns0="http://ws.arap.itf.nc/IQueryPayBillWS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" jaxb:version="2.0" targetNamespace="http://ws.arap.itf.nc/IQueryPayBillWS">
  <wsdl:types>
    <xsd:schema xmlns:ns="http://ws.arap.itf.nc/IQueryPayBillWS" attributeFormDefault="unqualified" elementFormDefault="unqualified" jaxb:version="2.0" targetNamespace="http://ws.arap.itf.nc/IQueryPayBillWS">
	<xsd:annotation>
    	<xsd:appinfo>
   			<jaxb:schemaBindings>
    			<jaxb:package name="nc.itf.arap.ws"/>
    		</jaxb:schemaBindings>
   		</xsd:appinfo>
   	</xsd:annotation>
	<xsd:element name="queryPayBill">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="clientid" nillable="true" type="xsd:string"/>
				<xsd:element minOccurs="0" name="sign" nillable="true" type="xsd:string"/>
				<xsd:element minOccurs="0" name="timestamp" nillable="true" type="xsd:string"/>
				<xsd:element minOccurs="0" name="content" nillable="true" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
	<xsd:element name="queryPayBillResponse">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="return" nillable="true" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
   </xsd:schema>
  </wsdl:types>
  <wsdl:message name="queryPayBillResponse">
    <wsdl:part element="ns0:queryPayBillResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryPayBillRequest">
    <wsdl:part element="ns0:queryPayBill" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IQueryPayBillWSPortType">
    <wsdl:operation name="queryPayBill">
      <wsdl:input message="ns0:queryPayBillRequest" wsaw:Action="urn:queryPayBill">
    </wsdl:input>
      <wsdl:output message="ns0:queryPayBillResponse" wsaw:Action="urn:queryPayBillResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IQueryPayBillWSSOAP11Binding" type="ns0:IQueryPayBillWSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryPayBill">
      <soap:operation soapAction="urn:queryPayBill" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IQueryPayBillWS">
    <wsdl:port binding="ns0:IQueryPayBillWSSOAP11Binding" name="IQueryPayBillWSSOAP11port_http">
      <soap:address location="http://10.0.0.104:9084/uapws/service/QueryPayBillWS"/>
    </wsdl:port>
  </wsdl:service>
    <jaxws:bindings>
	<jaxws:package name="nc.itf.arap.ws"/>
</jaxws:bindings>
</wsdl:definitions>
