2=primeton/3=项目实施/用友esb/进场/业务/接口转化的两个接口/zhhc_nc/com.primeton.esb.zhhc_nc.nc/src/com/primeton/esb/zhhc_nc/nc/ps/consumer/collcontract_proxy/IRecvCtArWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:ns0="http://ws.fct.itf.nc/IRecvCtArWS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" jaxb:version="2.0" targetNamespace="http://ws.fct.itf.nc/IRecvCtArWS">
  <wsdl:types>
    <xsd:schema xmlns:ns="http://ws.fct.itf.nc/IRecvCtArWS" attributeFormDefault="unqualified" elementFormDefault="unqualified" jaxb:version="2.0" targetNamespace="http://ws.fct.itf.nc/IRecvCtArWS">
	<xsd:annotation>
    	<xsd:appinfo>
   			<jaxb:schemaBindings>
    			<jaxb:package name="nc.itf.fct.ws"/>
    		</jaxb:schemaBindings>
   		</xsd:appinfo>
   	</xsd:annotation>
	<xsd:element name="recvCtAr">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="clientid" nillable="true" type="xsd:string"/>
				<xsd:element minOccurs="0" name="sign" nillable="true" type="xsd:string"/>
				<xsd:element minOccurs="0" name="timestamp" nillable="true" type="xsd:string"/>
				<xsd:element minOccurs="0" name="content" nillable="true" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
	<xsd:element name="recvCtArResponse">
         <xsd:complexType>
            <xsd:sequence>
				<xsd:element minOccurs="0" name="return" nillable="true" type="xsd:string"/>
             </xsd:sequence>  
         </xsd:complexType>
     </xsd:element>
   </xsd:schema>
  </wsdl:types>
  <wsdl:message name="recvCtArResponse">
    <wsdl:part element="ns0:recvCtArResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recvCtArRequest">
    <wsdl:part element="ns0:recvCtAr" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IRecvCtArWSPortType">
    <wsdl:operation name="recvCtAr">
      <wsdl:input message="ns0:recvCtArRequest" wsaw:Action="urn:recvCtAr">
    </wsdl:input>
      <wsdl:output message="ns0:recvCtArResponse" wsaw:Action="urn:recvCtArResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IRecvCtArWSSOAP11Binding" type="ns0:IRecvCtArWSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="recvCtAr">
      <soap:operation soapAction="urn:recvCtAr" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IRecvCtArWS">
    <wsdl:port binding="ns0:IRecvCtArWSSOAP11Binding" name="IRecvCtArWSSOAP11port_http">
      <soap:address location="http://10.0.0.104:9084/uapws/service/RecvCtArWS"/>
    </wsdl:port>
  </wsdl:service>
    <jaxws:bindings>
	<jaxws:package name="nc.itf.fct.ws"/>
</jaxws:bindings>
</wsdl:definitions>
